table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: var(--mM);

  & thead {
    & tr {

      & th {
        border: 1px solid var(--colorBlack300);
        padding: var(--pXS) var(--pS);
        background-color: var(--colorBlack200);
      }
    }
  }
  & tbody {
    & tr {
      & td {
        padding: var(--pXS) var(--pS);
        border: 1px solid var(--colorBlack300);
      }
    }

    & tr:nth-child(2n) {
      background-color: rgb(246, 248, 250);
    }
  }
}
