/* Reset */
@import "/vendor/minireset.css";

/* Mixins */
@import "mixins.css";

/* Custom media queries and custom properties */
@import "custom-properties.css";
@import "custom-media-queries.css";

/* Base */
@import "base.css";

/* Elements */
@import "/elements/utility.css";
@import "/elements/sprite.css";
@import "/elements/buttons.css";
@import "/elements/fonts.css";
@import "/elements/icons.css";
@import "/elements/inlines.css";
@import "/elements/titles.css";
@import "/elements/links.css";
@import "/elements/form.css";
@import "/elements/blockquote.css";
@import "/elements/table.css";
@import "/elements/syntax.css";

/* Components */
@import "/components/logo.css";
@import "/components/headerMenu.css";
@import "/components/languageSwitcher.css";
@import "/components/container.css";
@import "/components/header.css";
@import "/components/footer.css";
@import "/components/divider.css";
@import "/components/textContent.css";
@import "/components/aside.css";
@import "/components/configOption.css";
