.aside {
  flex-shrink: 0;
  margin-right: var(--mXL);
  @mixin grid 3, 2;
}

@media (--tabletSmall) {
  .aside {
    max-width: 100%;
    margin-bottom: var(--m2XL);
  }
}

.aside_nav {
  ul {
    color: var(--colorBlack600);
    display: flex;
    gap:var(--m3XS);
    flex-direction: column;

    li {
      & ul {
        & li {
          & ul {
            border-left:1px solid var(--colorBlack300);
            padding-left:var(--pXS);
          }
        }
      }
    }
  }
}

.aside_item-current {
  font-weight: bold;
  z-index:1;
  position:relative;
  
  & a{
    color: var(--colorBlack800);
  }
  
  &:before{
    content:"";
    position:absolute;
    left:calc(var(--xs) * -1);
    right:0;
    top:calc(var(--3xs) * -1);
    bottom:calc(var(--3xs) * -1);
    width:calc(100% + var(--xs));
    height:calc(100% + var(--2xs));
    z-index:-1;
    background-color: var(--colorBlack200);
  }
}

.aside_item-section{
  display:inline-block;
  margin-top:var(--mXS);
  color: var(--colorBlack600);
}

.aside_item-subsection{
  display:inline-block;
  margin-top:var(--m2XS);
  color: var(--colorBlack600);
}
