.aside {
  flex-shrink: 0;
  margin-right:var(--mXL);
  @mixin grid 3, 2;
  border:1px solid var(--colorBlack200);
  border-radius:4px;
}

@media (--tabletSmall) {
  .aside {
    max-width: 100%;
    margin-bottom:var(--m2XL);
  }
}

.aside_nav{
  > ul > li > details > ul > li:last-child,
  > ul > li > details > ul > li > ul {
    margin-bottom:var(--mS);
  }

  ul{
    color:var(--colorBlack600);
    display:flex;
    flex-direction:column;

    li {
      position: relative;
      border-bottom:1px solid var(--colorBlack200);

      &:last-child {
        border: none;
      }

      a {
        padding: var(--mXS) var(--mS);
        display:inline-block;
        width:100%;
      }

      .aside_item-current {
        color:var(--colorBlack800);
      }

      .aside_item-current::before {
        content: '';
        position: absolute;
        left: 0;
        width: 4px;
        background-color: var(--colorPrimary);
        border-radius: 0 10px 10px 0;
        z-index: 1;
        top: var(--m2XS);
        bottom: var(--m2XS);
      }

      .aside_item-current::after {
        content: '';
        position: absolute;
        background-color: var(--colorBlack200);
        border-radius: 4px;
        z-index: -1;
        left: var(--mXS);
        right: var(--m2XS);
        top: var(--m2XS);
        bottom: var(--m2XS);
      }

      &.aside_item-current-section {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background-color: var(--colorPrimary);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }        

        & .aside_item-current::before {
          top: 2px;
          bottom: 2px;
        }

        & .aside_item-current::after {
          top: 0;
          bottom: 0;
          right: var(--mXS); 
        }
      }

      details{
        position: relative;

        summary{
          padding: var(--mXS) var(--mS);
          list-style: none;
          cursor: pointer;

          &::marker,
          &::-webkit-details-marker{
            display: none;
          }
          
          & svg{
            position: absolute;
            right: 10px;
            top:14px;
            font-size:0.8em;
            color:var(--colorBlack400);
            transition: transform 0.2s ease;
          }

          &:hover::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--colorBlack100);
            z-index: -1;
          }
        }

        &[open]{
          summary > svg{
            transform: rotate(180deg);
          }
        }
      }

      span{
        display:inline-block;
      }
    }

    ul {
      li{
        border:none;
        
        a{
          padding: var(--p3XS) var(--mL);
          border-radius: 4px;
        }

        > span, a {
          padding-left: var(--mS);
        }

        > a {
          padding-left:var(--mL);
          padding-top:var(--p3XS);
          padding-bottom:var(--p3XS);
        }
        
        > a {
          padding-left:var(--mS);
        }

        ul{
          padding-top:0;

          li{
            padding:0;

            a {
              padding-left:var(--mL);
              padding-top:var(--p3XS);
              padding-bottom:var(--p3XS);
              border-radius:4px;
            }
          }
        }
      }
    }
  }
}
