.aside {
  flex-shrink: 0;
  margin-right:var(--mXL);
  @mixin grid 3, 2;
  border:1px solid var(--colorBlack200);
  border-radius:4px;
}

@media (--tabletSmall) {
  .aside {
    max-width: 100%;
    margin-bottom:var(--m2XL);
  }
}

.aside_nav{
  ul{
    color:var(--colorBlack600);
    display:flex;
    flex-direction:column;

    li{
      border-bottom:1px solid var(--colorBlack200);

      a{
        padding: var(--mXS) var(--mS);
        display:inline-block;
        width:100%;

        &:hover{
          background-color:var(--colorBlack200);
        }
      }

      &:last-child{
        border:none;
      }

      details{
        position: relative;

        summary{
          padding: var(--mXS) var(--mS);
          list-style: none;
          cursor: pointer;
          transition: 0.2s;

          &:hover{
            background-color:var(--colorBlack200);
          }

          &::marker,
          &::-webkit-details-marker{
            display: none;
          }
          
          &::after{
            content: '↓';
            position: absolute;
            right: 10px;
            top:12px;
            font-size:0.8em;
            color:var(--colorBlack400);
          }
        }

        &[open]{
          summary::after{
            transform: rotate(180deg);
          }
        }
      }

      span{
        display:inline-block;
      }
    }

    ul{
      padding-left:var(--mS);
      padding-bottom:var(--mXS);

      li{
        border:none;

        a{
          padding: 0;

          &:hover{
            background-color: transparent;
          }
        }
      }
    }
  }
}
