.refItem {
    padding: 2rem 0;
}

.refItem + .refItem {
  box-shadow: inset 0 1px var(--colorBlack200);
}

.refItem-name code {
  font-weight: 600;
  overflow-y: auto;
  font-size: 1em;
}

.refItem-type {
  color: var(--colorBlack600);
  padding-left: 1rem;
  text-transform: lowercase;
}

.refItem-required {
  padding-left: 1rem;
  color: rgb(154, 103, 0);
}

.refItem-required code {
  font-weight: 400;
}

.refItem-details {
  display: flex;
}

.refItem-details__full {
  flex-direction: column;
}

.refItem-description,
.refItem-default,
.refItem-example,
.refItem-allowed-values,
.refItem-reference {
  padding: 1rem 0.4em;
}

.refItem-example code,
.refItem-default code,
.refItem-allowed-values-list {
  margin-left: 0.4em;
  display: inline-block;
}

.refItem-example,
.refItem-default,
.refItem-allowed-values,
.refItem-reference {
  font-size: 0.85em;
}

.refItem-details_full .refItem-example {
  overflow-y: auto;
  width: 100%;
}

.refItem-details_full .refItem-example .highlight {
  margin-top: 0.4em;
}

.refItem-reference span{
  margin-right: 0.4em;
}
