<aside class="aside">
	{{ $currentPageTitle := .Title }}
	{{ $currentPageSection := .Section }}

	<nav class="aside_nav">
		<ul>
			<li><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Home.LinkTitle }}</a></li>
			{{ range .Site.Sections.ByWeight }}
				<li class="{{ if eq $currentPageSection .Section }}aside_item-current{{ end }}">
					<details>
						<summary><b>{{ .LinkTitle }}</b></summary>
						<ul>
							{{ range .RegularPages.ByWeight }}
								<li>
									<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
								</li>
							{{ end }}
							{{ range .Sections.ByWeight }}
								<li>
									{{ if .Content }}
										<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
									{{ else }}
										<span>{{ .LinkTitle }}</span>
									{{ end }}
									<ul>
										{{ range .RegularPages.ByWeight }}
											<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
										{{ end }}
									</ul>
								</li>
							{{ end }}
						</ul>
					</details>
				</li>
			{{ end }}
		</ul>
	</nav>
</aside>
