<aside class="aside">
	{{ $currentPageTitle := .Title }}
	{{ $currentPageSection := .Section }}
	<nav class="aside_nav">
		<ul class="aside_items">
			{{ range .Site.Sections.ByWeight }}
				<li class="aside_item {{ if eq $currentPageSection .Section }}aside_item-current{{ end }}">
					<a href="{{ .RelPermalink }}" class="aside_item_section">{{ .LinkTitle }}</a>
					<ul class="aside_subitems">
						{{ range .RegularPages.ByWeight }}
							<li class="aside_subitem">
								<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
							</li>
						{{ end }}
						{{ range .Sections.ByWeight }}
							<li class="aside_subitem">
								<a href="{{ .RelPermalink }}" class="aside_item_section">{{ .LinkTitle }}</a>
								<ul class="aside_subsubitems">
									{{ range .RegularPages.ByWeight }}
										<li class="aside_subsubitem">
											<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
										</li>
									{{ end }}
								</ul>
							</li>
						{{ end }}
					</ul>
				</li>
			{{ end }}

			{{ range where .Site.RegularPages "Section" "" }}
				<li class="aside_item {{ if eq $currentPageTitle .Title }}aside_item-current{{ end }}">
					<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
				</li>
			{{ end }}
		</ul>
	</nav>
</aside>
