<div class="container container__hasNoPaddingY container__fluid container__hasNoPaddingX container__isGray">
  <div class="divider">
    <hr />
  </div>
  <div class="container container__flex container__1211 container__hasNoPaddingX container__hasPaddingYSmall">
    <footer class="footer">
      <div class="logo logo__medium">
        <svg class="icon_logo"><use href="#logo"></use></svg>
      </div>
      <div class="footer_menus">
        <div class="footerMenu">
          <ul>
			      {{ range .Site.Menus.footer }}
              <li>
                <a  href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
          <ul>
            <li>
              <a
                target="_blank"
                rel="noopener"
                class="a_icontext a__small footer_menus_icontext"
                href="{{ .Param "mastodon.url" }}"
              >
                <span class="icon_circle icon_circle__medium mr__2XS">
                  <svg class="icon icon--fill-white">
                    <use href="#mastodon"></use>
                  </svg>
                </span>
                <span>{{ i18n "footer.follow" }}</span>
              </a>
            </li>
            <li>
              <a
                title="Contactez nous par email"
                class="a_icontext a__small footer_menus_icontext"
                href="{{ i18n "footer.contact_href" }}"
              >
                <span class="icon_circle icon_circle__medium mr__2XS">
                  <svg class="icon_contact"><use href="#contact"></use></svg>
                </span>
                <span>{{ i18n "footer.contact" }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footerMenu footerMenu__isSmall footerMenu__alignRight">
          <ul>
			      {{ range .Site.Menus.first_subfooter }}
              <li>
                <a  href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
		      </ul>
		      <ul>
			      {{ range .Site.Menus.second_subfooter }}
              <li>
                <a  href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>

{{ $languageSwitcherJs := resources.Get "js/languageSwitcher.js" | js.Build }}
<script src="{{ $languageSwitcherJs.RelPermalink }}"></script>

{{ $brandsJs := resources.Get "js/brands.js" | js.Build }}
<script src="{{ $brandsJs.RelPermalink }}"></script>

{{ $headerJs := resources.Get "js/header.js" | js.Build }}
<script src="{{ $headerJs.RelPermalink }}"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setExcludedQueryParams", ["simulationId","_csrf"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.data.gouv.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '179']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
