<div class="container container__hasNoPaddingY container__hasNoPaddingX container__fluid">
  <div class="container container__1211 container__flex container__hasNoPaddingX container__hasNoPaddingY">
    <header class="header">
      <div class="header_logo">
        <a href="{{ "/" | relLangURL }}">
          <div class="logo logo__medium">
            <svg><use href="#logo"></use></svg>
          </div>
        </a>
      </div>
      <div class="header_menus">
        <nav class="headerMenu headerMenu__primary">
          <ul>
            {{ range .Site.Menus.header }}
              <li>
                <a  href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
        <nav class="headerMenu headerMenu__secondary">
          <div class="languageSwitcher">
            <button class="languageSwitcher_current">
              {{ $currentLanguage := .Site.Language.Lang }}
              {{ $currentLanguage | upper }}
              <svg class="icon_arrowDown"><use href="#arrowDown"></use></svg>
            </button>
            <div class="languageSwitcher_items">
              {{ range $.Site.Home.AllTranslations }}
                {{ if ne $currentLanguage .Language.Lang }}
                  <div class="languageSwitcher_item">
                    <a href="{{ .Permalink }}">{{ .Language.Lang | upper }}</a>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
          <ul>
            <li>
              <a
                class="icon_circle"
                target="_blank"
                rel="noopener"
                title="{{ i18n "header.twitter_title" }}"
                href="{{ .Param "twitter_url" }}"
              >
                <svg class="icon_twitter"><use href="#twitter"></use></svg>
              </a>
            </li>
            <li>
              <a
                class="icon_circle"
                target="_blank"
                rel="noopener"
                title="{{ i18n "header.github_title" }}"
                href="{{ .Param "github_url" }}"
              >
                <svg class="icon_github"><use href="#github"></use></svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <button type="button" class="header_openLink">
        {{ i18n "header.menu_open" }}
      </button>
      <button type="button" class="header_closeLink">
        {{ i18n "header.menu_close" }}
        <svg class="icon_close"><use href="#close"></use></svg>
      </button>
    </header>
  </div>
</div>
